.contact-us{
    text-align: center;
    font-size:60px;
    font-family: 'Alfa Slab One', cursive;
    color: rgb(131,58,180);
   letter-spacing: 8px;
   text-decoration: underline;
}
.cont-img{
    height: 400px;
}

.images{
    display: flex;
    justify-content:space-between;
    flex-direction: row;


}
#faram{
    width: 500px;
}
.faram{

    width: 500px;
}
.small-img{
    height: 80px;
    width: 80px;
    margin: auto;
    padding: 8px;
}
.link-img{
    display: flex;
    justify-content: space-around ;
    /* text-align: center; */
    align-items: center;
    width: 500px;
    flex-direction: column;
    border-right: 2px solid black;
}
.cont-btn{
    border: 0px;
    height: 40px;
    border-radius: 5px;
    background: rgb(131,58,180);
    color: white;
    font-weight: 500;


}
.dividetext{
    background:#fff; 
    padding:0 10px; 
}
text {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
.form-group{
     width: 500px;
 }
 @media screen and (min-device-width: 100px) and (max-device-width: 450px) { 
     .images{
         flex-wrap: wrap;
         padding: 20px;
         margin-top: 0px;
         flex-direction: column-reverse;
         justify-content: space-between;
     }
     
     .contact-us{
         font-size: 50px;
     }
     .link-img{
         border-right: 0px;
         height: auto;
         /* border-bottom: 2px solid black; */
         /* padding: 20px; */
         width: 100%;
         display: flex;
         flex-direction: row;
         margin: 0px;
     }

     .form-group{
         width: 100%;

     }
     .remove{
         display: none;
     }
     .small-img{
         height: 50px;
         width: 50px;
         margin-top: -30px;
     }
     .cont-btn{
         display: none;
     }
     .faram{
         width: 100%;
         padding: 20px;
     }
     #faram{
         width: 100%;
         padding-bottom: 0;
     }
     .faram button{
         text-align: center;
         align-items: center;
         justify-content: center;
     }
     .noneed{
         display: none;
     }
     .text{
         border: 0px;
     }


 }