*{
    font-family: 'Poppins', sans-serif;
}
.navibar{
    color: red !important;
    z-index: 1;
}
.navbar{
    background: rgb(100,111,212);
background: linear-gradient(90deg, rgba(100,111,212,1) 1%, rgba(36,47,155,1) 93%);


}
a.nav-link.active{
    margin-right: 30px;
}

/* .curved {
    position: relative;
    background: rgb(100,111,212);
background: linear-gradient(90deg, rgba(100,111,212,1) 1%, rgba(36,47,155,1) 93%);
    height: 50vh;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
  } */

  /* .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: rgb(100,111,212);
background: linear-gradient(90deg, rgba(100,111,212,1) 1%, rgba(36,47,155,1) 93%);
    z-index: 0;
    transform: skewY(27deg);
    transform-origin: top right;
  } */
  .banner{
      float: right;
      z-index: 10;
      position: relative;

      
  }

  .main{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;
      flex-direction: column;
      margin-right: 30px;
  }
  .main h1{
      font-size: 50px;
      letter-spacing: 3px;
    
  }
  .main h2{
    font-size: 28px;
    font-weight:400;
    text-decoration: underline;
}
.book{
    border: 0;
    border-radius: 10px;
    background-color:#646FD4;
    padding: 7px;
    width: 98%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.feature{
    display: flex;
    justify-content: space-around;
}
.first{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
 
}
.first h3{
    font-size: 100px;
    color: gold;
}
.second h3{
    font-size: 100px;
    color:red;
}
.third h3{
    font-size: 100px;
    color:purple;
}

.second{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}
.third{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}
.sub-tag{
    font-size: 20px;
    font-weight: 500    ;
}
.body{
    display: flex;
    justify-content: space-around;
    text-align: center;


}
.vertical{
    border-left: 1px solid black;
    height: 300px;
}
.onof   {
    height: 200px;
}
.directions{
    border: 0;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
    background-color: black;
    color: white;
    

}
.waiting{
    text-align: center;
}
.divdir{
    display: flex;
    margin: 10px;
    justify-content: center;
}
.footer{
    /* height: 200px; */
    background-color: rgba(128, 128, 128, 0.575);
    display: flex;
    justify-content: center;
}
.foot{
    margin: 20px;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
}
.again{
    display: flex;
    justify-content: center;    
    background-color: rgba(128, 128, 128, 0.575);
    
}
.again div{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.sticky{
    position: fixed;
    width: 100%;
    top: 0%;
}
.aana{
    display: none;
}

@media screen and (min-device-width: 450px) and (max-device-width: 995px) { 

    .banner{
        display: none;
    }
    .main h1{
        font-size: 70px;
        text-align: center;
    }
    .tagline{
        text-align: center;
    }
    .book{
        text-align: center;
    }
    .aana{
        display: none;
    }
    .feature{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .body{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .space{
        height: 80px;
    }
    .vertical{
        display: none;
    }
}
@media screen and (min-device-width: 100px) and (max-device-width: 450px) { 

    .banner{
        display: none;
    }
    .jana{
        display: none;
    }
    .aana{
        display: block;
    }
    .main{
        text-align: center;
    }
    .main h1{
        font-size: 50px;
        text-align: center;
        margin-left: 20px;
    }
    .tagline{
        text-align: center;
        margin-left: 40px;
    }
    .book{
        text-align: center;
        margin-left: 20px;
    }
    .feature{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .body{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .space{
        height: 80px;
    }
    .vertical{
        display: none;
    }
    .onof{
        margin-top: 20px;
    }
    .directions{
        width: 200px;
        display: none;

    }
    .waiting{
        /* font-size: 15px; */
        display: none;   



     }
}
